.side-nav {
  display: flex;
  position: absolute;
  left: 0;
  width: 5%;

  .hide {
    pointer-events: none;
  }

  .iconBtn {
    height: fit-content;
    margin-left: -18px;

    .menu-nav-icon {
      position: absolute;
      font-size: 72px;
      color: black;
      width: fit-content;
      left: 18px;
      top: 2px;
    }

    .hide {
      transition: 0.25s ease-in-out;
      display: none;
    }
  }

  .side-nav-collapse {
    visibility: collapse;
    margin-left: -64px;
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.25s ease-in-out;
    border-right: 6px solid black;

    .nav-icon {
      font-size: 48px;
      color: black;
    }
  }

  .show {
    visibility: visible;
    margin-left: 0px;
  }
}
