.sign-in-sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .sign-in-sign-up-form {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .errors {
      color: red;
      font-weight: bold;
    }

    .login-btns-container {
      width: 75%;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }
  }
}
